.hero {
  width: 100%;
  height: 100vh;
  position: relative;
  margin: 0;
  padding: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--contrast-color);
  padding-left: 20%;
}

.hero img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  object-fit: cover;
  z-index: 1;
}

.hero:before {
  content: "";
  background: rgba(0, 0, 0, 0.3);
  position: absolute;
  inset: 0;
  z-index: 2;
}

.hero .container {
  position: relative;
  z-index: 3;
}

.hero h2 {
  margin: 0;
  font-size: 48px;
  font-weight: 700;
  color: white !important;
}

.hero p {
  margin: 10px 0 0 0;
  font-size: 24px;
  padding-left: 10%;
}

@media (max-width: 768px) {
  .hero h2 {
    font-size: 32px;
  }
  .hero p {
    font-size: 18px;
  }
}
