.infoItem {
  text-align: center;
  margin-bottom: 20px;
  margin: 10px;
  padding-left: 20%;
}

.icon {
  font-size: 30px;
  color: #007bff;
  margin-bottom: 10px;
}

.title {
  font-size: 18px;
  font-weight: bold;
}

.content {
  font-size: 14px;
  color: #666;
}

/* Media Queries for Small Devices */
@media (max-width: 768px) {
  .infoItem {
    text-align: left; /* Align text to the left for smaller screens */
    margin-bottom: 15px; /* Adjust margin for better spacing */
    margin: 10px auto; /* Center the items with auto margins */
    padding-left: 10%; /* Reduce left padding for smaller screens */
  }

  .icon {
    font-size: 24px; /* Reduce icon size */
    margin-bottom: 8px; /* Adjust spacing below the icon */
  }

  .title {
    font-size: 16px; /* Adjust font size for smaller screens */
  }

  .content {
    font-size: 12px; /* Reduce font size for better readability */
  }
}

@media (max-width: 576px) {
  .infoItem {
    text-align: center; /* Center-align text for extra small screens */
    padding-left: 5%; /* Further reduce left padding */
  }

  .icon {
    font-size: 20px; /* Further reduce icon size */
  }

  .title {
    font-size: 14px; /* Reduce title font size */
  }

  .content {
    font-size: 11px; /* Compact font size for extra small screens */
  }
}
